<!DOCTYPE html>
<html>
<head>
    <title>{{ item[1] }}</title>
</head>

<body>
    <h1>{{ item[1] }}</h1>
    
    {% if session.get("user_id") == item[6] %}
    <p>
        <a href ="/edit_item/{{ item.id }}" >Muokkaa</a>

    </p>
    {% endif %}

    <p><b>Kirjailija:</b> {{ item.author }}</p>
    <p><b>Genre:</b> {{ item.genre }}</p>
    <p><b>Kuvaus:</b> {{ item.description }}</p>
    <p><b>Arvosana:</b> {{ item.rate }}</p>
    <p><b>Lisääjä:</b> {{ item.username }}</p>



    <p>
        <a href="/">Takaisin etusivulle</a>
    </p>
</body>
</html>
